<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
<h1>Student Record System</h1>
<ul>
    <li><a href='{% url 'student_record_system_app:student_list' %}'>Students</a></li>
    <li><a href='{% url 'student_record_system_app:attendance_list' %}'>Attendance</a></li>
    <li><a href='{% url 'student_record_system_app:grade_list' %}'>Grades</a></li>
</ul>
</body>
</html>