<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
<h1>{{ object.name }}</h1>
<a href='{% url 'library_management:author_update' object.pk %}'>Edit</a>
<a href='{% url 'library_management:author_delete' object.pk %}'>Delete</a>
<a href='{% url 'library_management:author_list' %}'>Back to List</a>
</body>
</html>