<!DOCTYPE html>
{% load hitcount_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title> {{object.title|title}}</title>
    <meta property="og:title" content=" {{object.title|title}}">
    <meta name="description" property="og:description" content="{{object.desc|striptags|truncatewords:20}}">
    <meta property="og:image" content="{{object.img_blog.url}}">
    <meta property="og:image:alt" content="{{object.img_blog.url_alt}}">
    <!-- <meta property="og:url" content="https://codethinkers.org/{{object.slug}}"> -->
    <meta name="twitter:card" value="summary">
</head>
<body>

    {% block content %} 

    {% endblock %}  
</body>
</html>