{% extends 'sms/baseblog.html' %}

{% block title %}blog list{% endblock %}

  {% block content %} 
<!-- 
    {% load hitcount_tags %}
  <h3  class="text-center">{{blogs_count}}  Article (s) </h3>
  <div  class="card  container shadow-lg p-3 ">
      {% for blog in object_list %}
      
     <div class="">{% get_hit_count for blog %}  <i class="fas fa-eye"></i></div><hr> -->
     
    <!-- <img src="{{blog.img_blog.url}}" width="100%" height="400px" alt="blog image"/> <br><hr>
    <p>{{blog.created}}, {{blog.created|timesince}}</p><br>
    <P class="text-left">{{blog.desc|striptags|truncatewords:60}}</P>
    <a class="btn btn-primary" href="{% url 'sms:blogdetaillistview' blog.slug %}">{{blog.title|title}}</a><hr>
    {% empty %}
    <h1 class="card text-center text-danger">No Article Available Yet. CHECK LATER</h1> -->
  
    <!-- {% endfor %}
  </div>  -->


  <!--Products-->
<div class="container py-3">
	<h2>Articles Archive</h2>
	<hr>
	<br>
	<div class="container shadow-lg m-auto row">
		{% for blog in object_list %}
		<div class="col-sm-12 col-md-6 col-lg-3 pb-4">
			<div class="card h-100" style="border:none">
        <h1  style="width: auto; height: 60px; object-fit: scale-down;" alt="{{ p.product_name}}" class="btn btn-warning">{{blog.title|title}}</h1>
				<img src="{{blog.img_blog.url}}" class="card-img-top" style="width: auto; height: 250px; object-fit: scale-down;" alt="{{ p.product_name}}">
				<small class="container">Image source: {{blog.img_source}}</small>
				
			  	<div class="card-body">
					<small >{{blog.created}}, {{blog.created|timesince}}</small>
					<p style="color: rgb(19, 19, 80);" class="card-text">Article Number: {{forloop.counter}}</p>
				  	<p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
					  {% if blog.author %}
					<small class="card-text">By {{blog.author}}</small><hr>
					{% else %}
					<small class="card-text">By {{blog.poster}}</small><hr>
				    {% endif %}
					
				  	<p class="card-text">{{blog.desc|safe|striptags|truncatewords:20}}</p>
				  	<a href="{% url 'sms:blogdetaillistview' blog.slug %}" class="btn btn-warning">Read More....</a>
			  	</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
  {% endblock %} 
 
