
{% extends 'sms/base.html' %}

{% load hitcount_tags %}
{% block title %}<title>Codethinker's Blog Writing Page</title>{% endblock %}


{% block body %} 
<style>
    .courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.courses>*{
flex: 1 1 auto;
margin: 5px;
border: 1px dotted rgb(16, 2, 37);;
}


</style>


<section >
<div class="container">
    <a class="" href="https://wa.me/message/3WEEV2BGDKKSG1"> CONTACT US <i class="fas fa-question-circle"></i> </a>
</div>
<!-- <h3  class="text-center">{{ hitcount.total_hits}} <i class="fas fa-eye"></i> </h3> -->

<div  class="card text-center">

  <div class="card-body">
   
    <h1><b> {{object.title|title}}</b></h1><hr>
    <div class="">{% get_hit_count for object%}  <i class="fas fa-eye"></i></div><hr>
    <div>{{object.created}}, {{object.created|timesince}}</div><br>
    <div  class="text-left" ><img src="{{object.img_blog.url}}" width="100%" height="400px" alt="blog image"> </div><br><hr>
  <div class="text-left">{{object.desc}}</div><hr>
 

</div>

</div>
</section>

{% endblock %} 
