
{% extends 'sms/base.html' %}

{% load hitcount_tags %}
{% block title %}Courses list view page{% endblock %}


{% block body %} 
<style>
.scrolling-wrapper{
	overflow-x: auto;
}





.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	height: 300px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	}
}

.card-1{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}


</style>


  <!--Products-->
  <div class="container-fluid">
   
    
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
			
			<div class="col-5">
				<div class="card card-block card-1"></div>
			</div>
			<div class="col-5">
				<div class="card card-block card-2"></div>
			</div>
			<div class="col-5">
				<div class="card card-block card-3"></div>
			</div>
			<div class="col-5">
				<div class="card card-block card-4"></div>
			</div>
	

      
    </div>
</div>
  
new <hr>

<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2 scrolling-wrapper" stle="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">

  {% for card in courses%}
  {#  Single Card Template:#}
  <div class="card card-block " style="width: 100%; margin: 5px">
    <img class="" src="{{card.img_course.url}}" style="width: 100%;" class="card-img-top" >
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <p class="card-title">{{ card.title|safe }}</p>
        {#  Colored cirlce:#}
        <div style="
          background: {{ card.color }};
          width: 100%;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
      </div>
      <p class="card-text">{{ card.desc|safe }}</p>
      
    </div>
  </div>

  {% empty %}
  <small class="card-text">No Courses Available Yet. CHECK LATER</small>
  {% endfor %}
 
</div>
<!--   
<section >
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><h3  class="text-center">{{courses_count}}  Courses |  {{ hitcount.total_hits}} <i class="fas fa-eye"></i> </h3></p>
          {% for course in courses %}
          <h5 class="card-title"><h1><a style="background-color: rgb(16, 2, 37); width: 100%; color: wheat;" href="{% url 'sms:topicslistview' course.pk %}">{{course.title}}</a></h1><hr></h5>
          <p class="card-text"><div class="">{% get_hit_count for course %}  <i class="fas fa-eye"></i></div><hr></p>
          <p class="card-text"><div>{{course.created}}, {{course.created|timesince}}</div><br></p>
          <p class="card-text"><div class="text-left">{{course.desc|safe}}</div><hr> </p>
          <button class="btn btn-primary" onclick="myFunction()">Read More</button>
          <button class="btn btn-primary" onclick="myLess()">Read Less</button>
          <div style="display: none;" id="myDIV">

          <p class="card-text"><div data-label="my-label-button" class="line-numbers copy-to-clipboard-button text-left" class="">{{course.course_desc|safe}}</div><hr></p>
          <p class="card-text">With supporting text below as a </p>
          {% empty %}
          <a href="#" class="btn btn-primary">Go somewhere</a>
  <h1 class="card text-center text-danger">No Courses Available Yet. CHECK LATER</h1>
          {% endfor %}
        
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
<!-- 
<h3  class="text-center">{{courses_count}}  Courses |  {{ hitcount.total_hits}} <i class="fas fa-eye"></i> </h3>

<div  class="card text-center">

  <div class="card-header">
    {% for course in courses %}
    <h1><a style="background-color: rgb(16, 2, 37); width: 100%; color: wheat;" href="{% url 'sms:topicslistview' course.pk %}">{{course.title}}</a></h1><hr>
   
    <div class="">{% get_hit_count for course %}  <i class="fas fa-eye"></i></div><hr>
    <div>{{course.created}}, {{course.created|timesince}}</div><br>
  
  <div class="text-left">{{course.desc|safe}}</div><hr>
  <button class="btn btn-primary" onclick="myFunction()">Read More</button>
  <button class="btn btn-primary" onclick="myLess()">Read Less</button>
  <div style="display: none;" id="myDIV">
  <div data-label="my-label-button" class="line-numbers copy-to-clipboard-button text-left" class="">{{course.course_desc|safe}}</div><hr>
  <</div>
  {% empty %}
  <h1 class="card text-center text-danger">No Courses Available Yet. CHECK LATER</h1>
  {% endfor %}
</div>


</div> -->
</section>

<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
      x.style.display = "block";
  }

  function myLess() {
    var x = document.getElementById("myDIV");
      x.style.display = "none";
  }
</script>

{% endblock %} 
