
{% extends 'sms/base.html' %}

{% load hitcount_tags %}
{% block title %}Courses list view page{% endblock %}


{% block body %} 
<style>
    .courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.courses>*{
flex: 1 1 auto;
margin: 5px;
border: 1px dotted rgb(16, 2, 37);;
}


</style>


<section >

<h3  class="text-center">{{courses_count}}  Courses |  {{ hitcount.total_hits}} <i class="fas fa-eye"></i> </h3>

<div  class="card text-center">

  <div class="card-header">
    {% for course in courses %}
    <h1><a style="background-color: rgb(16, 2, 37); width: 100%; color: wheat;" href="{% url 'sms:topicslistview' course.pk %}">{{course.title}}</a></h1><hr>
    <!-- <div>{{topics}} topics</div> -->
    <div class="">{% get_hit_count for course %}  <i class="fas fa-eye"></i></div><hr>
    <div>{{course.created}}, {{course.created|timesince}}</div><br>
    <!-- <div class="text-left">{{course.course_link|urlize}}</div><hr> -->
  <div class="text-left">{{course.desc|safe}}</div><hr>
  <div data-label="my-label-button" class="line-numbers copy-to-clipboard-button text-left" class="">{{course.course_desc|safe}}</div><hr>
  
  {% empty %}
  <h1 class="card text-center text-danger">No Courses Available Yet. CHECK LATER</h1>
  {% endfor %}
</div>

git commit -m "Added files and changes required for deployment to heroku"
git push origin main


</div>
</section>

{% endblock %} 
