
{% extends 'sms/base.html' %}

{% load hitcount_tags %}
{% block title %}Courses list view page{% endblock %}


{% block body %} 
<style>

.container {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.left-column {
    flex: 1;
	margin: 5px;
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.card-img {
	min-height: 200px;
	float: left;
}


</style>


  <!--Products-->

  <h3 class="text-center">MY Courses</h3>

		

		<div class="container text-center">
			{% for item in courses %}
			<div class="left-column">
				<img class="card-img" src="{{item.img_course.url}}" >
				<a class="bg-white" href="{% url 'sms:topicslistview' item.id %}">{{ item.title|safe }}</a> 
				<p class="text-left">{{ forloop.counter }} - {{ item.desc|safe }}</p>
			</div>
			{% empty %}
			<small class="card-text">No Courses Available Yet. CHECK LATER</small>
		
			{% endfor %}
		</div>




  


{% endblock %} 
