{% extends 'sms/base.html' %}

{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}

{% block title %}beginners List {% endblock %}


{% block body %} 
<style>
    .courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.courses>*{
flex: 1 1 auto;
margin: 5px;
border: 1px dotted rgb(16, 2, 37);;
}
#more {display: none;}
</style>

<h1 class="text-center">{{topics_count|length}} : Topics <br>
  {{ hitcount.total_hits }}  <i class="fas fa-eye"></i></h1>
<h2 class="text-center"> </h2>

<progress style="width:100%" value="{{ topics.number }}" max="{{c}}">70 %</progress>
{% if topics.number == c %}
<h4 style="color: green;text-align:center">Congratulations! You have completed this course</h4>
{% endif %}
<button class="text-white btn btn-primary" >{{ topics.number }} / {{c}}</button>
<div  class="card ">
  <div class="card-header">
    {% for topic in topics %}
  
  <h1 class="text-white" style="background-color: rgb(16, 2, 37); color: wheat;">{{topic.title}}</h1><hr>
  <div class="text-white">{% get_hit_count for topic %} <i class="fas fa-eye"></i></div><hr>
  <div>{{topic.created}}, {{topic.created|timesince}}</div><br>
  <p>Topic Number: {{forloop.counter}}</p><hr>
  
  {% if topic.img_topic %}
  <div  class="text-left" ><img src="{{topic.img_topic.url}}" width="100%" height="400px" alt="topics image"> </div><br><hr>
  {% else %}
  <div><img src="/static/sms/images/newlogo2.jpg" width="100%" height="500px" alt="topics image"></div><br><hr> 
  {% endif %}
  
  <h2>Learning Objectives</h2>
  <div class = 'body-text text-left'>{{topic.objectives|safe|linebreaksbr}}</div><hr>
  <button class="btn btn-primary" onclick="myFunction()">Start topic</button>
  <div style="display: none;" id="myDIV">
  <div><p style="font-size: 20px;">{{topic.desc|safe}}</p></div><br><hr>

  {% if topic.video %}
  <div style="text-align:center">{% video topic.video '390 x 300' %}</div><hr>
  {% endif %}
 
  <h2>Activity</h2>
  <div class = 'body-text text-left'>{{topic.student_activity|safe|linebreaksbr}}</div><br><hr>
  <h2>Evaluation</h2>
  <div class = 'body-text text-left'>{{topic.evaluation|safe|linebreaksbr}}</div><br><hr>

   <!-- pagination codes star -->
	
{% if topics.has_other_pages %}
<div style="margin: 0 50%; font-size:20px" class="container" id = ''>
<nav class="d-flex" aria-label="Page navigation example">

  <ul style="font-size:20px" class="pagination  pagination-sm flex-wrap justify-content-center">
    {% if topics.has_previous %}
      <li class=" page-item"><a style="font-size: 20px;" class="continue page-link badge bg-danger rounded-pill" href="?page={{ topics.previous_page_number }}">previous &laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in topics.paginator.page_range %}
      {% if obj.number == i %}
        <li  class="page-item active" aria-current="page"><span><a  class="page-link" href="">{{ i }}</a></span></li>
      {% else %}
        <li class="page-item"><a style="font-size: 20px;color:blue" class="continue page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if topics.has_next %}
      <li class="page-item"><a style="font-size: 20px;" class="page-link badge bg-danger rounded-pill" href="?page={{ topics.next_page_number }}"> next &raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>last &raquo; </span></li>
    {% endif %}
  </ul>
</nav>
</div> 
{% endif %} <hr>
  <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p><br><hr>
  <!-- <h3><a href="{% url 'sms:topicsdetailview' topic.slug %}">Enroll {{topic.title}}</a></h3><hr> -->
  

  {% empty %}
  <h1 class="card text-center text-danger">No Courses Available Yet. CHECK LATER</h1>
  {% endfor %}
 

  <h3>After completion of the Topics, take Exam</h3>
  <h1 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h1>
  
</div>
</div>
</div>




<!-- pagination codes start -->
<!-- <div class="container card-header">
  <br>   
<div style="font-size: 25px;" class="pagination">
    <span class="step-links" style="float: right;">
        {% if topics.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ topics.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}">next</a>
            <a href="?page={{ topics.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div> -->
<!-- end of pagination -->

<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
      x.style.display = "block";
  }
</script>
{% endblock %}

