{% extends 'sms/base.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}

{% block title %}beginners{% endblock %}


{% block body %} 
<style>
    .courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.courses>*{
flex: 1 1 auto;
margin: 5px;
border: 1px dotted rgb(16, 2, 37);;
}

</style>


<h2 class="text-center"> {{ hitcount.total_hits }} <i class="fas fa-eye"></i> </h2><hr>
<div style="width: 100%;" class="text-center">
  <div class="col mb-2">
    <div class="card">

      <div class="card-body">

  <h1><div class="text-center">{{object.title}}</div></h1><hr>
 
  <div class="text-center">{{object.created}}, {{object.created|timesince}}</div><br><hr>
  {% if object.img_topic %}
  <div  class="text-left" ><img src="{{object.img_topic.url}}" width="100%" height="400px" alt="topics image"> </div><br><hr>
  {% else %}
  <div><img src="/static/sms/images/newlogo2.jpg" width="100%" height="500px" alt="topics image"></div><br><hr> 
  {% endif %}

  <!-- {# embeding youtube videos in heroku} -->
  {% if object.video %}
  <div style="overflow-x: auto;" class="text-center">{% video object.video 'small' %}</div><hr>
 {% endif %}
  <div><pre style="white-space: pre-wrap; font-size: 20px;font-family: sans-serif;"   class="container text-left" >{{object.desc}}</pre></div><br><hr>
  <h3 class="">Activity </h3>
  {% if object.img_tutorial %}
  <div  class="text-center" ><img src="{{object.img_tutorial.url}}" width="90%" height="300px" alt="img_tutorial image"> </div><br>
  {% else %}
  
  {% endif %}
  <pre style="white-space: pre-wrap; font-size: 20px;font-family: sans-serif;"   class="container text-left" >{{object.student_activity|linebreaksbr}}</pre><br><hr>
  <!-- <button type="submit" onclick = "checkPassword();" >Check answer</button> -->
  <hr>
  <p>Join Chat Room: {{object.topics_url|urlizetrunc:15}}</p><br><hr>

      </div>
    </div>
  </div>
</div>
<hr>
<!-- <h1 id="demo"></h1> -->

<script>  

function checkPassword(){
  var x = [1, 2, 3, 4]
  password= document.getElementById('passwordBox');
  passwordText = password.value;
  correct = document.getElementById('demo2')
  wrong = document.getElementById('demo3')
  for (i = 0; i < x.length; i ++){
    if (passwordText === x[i]){
     
      correct.innerHTML='correct answer'
      // alert('good')
      
    }
  
    else {
      
      correct.innerHTML='wrong answer'
      
    }
}
}

</script>

<script>
  $(document).ready(function(){
        $("botton").click(function(){
          "location.href = location.href";
        });
    });
</script>


{% endblock %}

 