<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<style>

    .dataTables_filter { 
        display: none; 
    }
    .dataTables_length {
        display: none;
    }


    tr{
        display: block;
        float: left;
        width: 100%;
    }
    th, td{
        display: block;
    }

</style>

<body>
    <table id="example" class="display table-responsive" data-page-length='1' style="width:100%">
        <thead>
            <tr>
                <th></th>
           
       
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Thor Walton</td>
         
             
            </tr>
            <tr>
                <td>Donna Snider</td>
          
           
            </tr>
        </tbody>
     
    </table>

    <script>
        $(document).ready(function () {
    $('#example').DataTable({
        pagingType: 'simple',
        dom: 'Qfrtip',
        "ordering": false
        
     
    });
});
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>
</html>