{% extends 'base.html' %}
{% block content %}
    <h2 class='text-2xl font-bold'>Quizzes</h2>
    <ul>
        {% for quiz in object_list %}
            <li class='border-b py-4'>
                <a href='{% url 'cbt:quiz_detail' quiz.pk %}' class='text-blue-500'>{{ quiz.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class='mt-4'>
        {% if is_paginated %}
            <div class='flex justify-between'>
                <div class='flex'>
                    {% if page_obj.has_previous %}
                        <a href='?page=1' class='text-blue-500'>First</a>
                        <a href='?page={{ page_obj.previous_page_number }}' class='text-blue-500'>Previous</a>
                    {% endif %}
                </div>
                <div class='flex'>
                    {% if page_obj.has_next %}
                        <a href='?page={{ page_obj.next_page_number }}' class='text-blue-500'>Next</a>
                        <a href='?page={{ page_obj.paginator.num_pages }}' class='text-blue-500'>Last</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}