<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
<h1>Department List</h1>
<ul>
{% for department in departments %}
    <li><a href='{% url 'staff_records:department_detail' department.pk %}'>{{ department.name }}</a></li>
{% endfor %}
</ul>
<a href='{% url 'staff_records:department_create' %}'>Add Department</a>
</body>
</html>