{% extends 'sms/dashboard/base.html' %}

{% block title %}blog list{% endblock %}

  {% block content %} 

  <style>
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.left-column-cat {
		flex: 1;
		margin: 5px;
		background-color: #4158D0;
		color: black;
		background-image: linear-gradient(#ffff 100%, #ffff 46%, white 100%);
	
	}
	
	
	</style>
	

	<h3 class="text-center">Articles</h3>
	<div class="container text-center">
		{% for item in object_list %}
		<div class="left-column-cat card-body text-center category">

			<h1  class="card-title">{{item.title|title}}</h1><hr>
			<img class="text-left container" src="{{item.img_blog.url}}" class="card-img-top" style="width: auto; height: 250px; object-fit: scale-down;" alt="{{ p.product_name}}">
			<small class="text-left container" class="container">Image source: {{item.img_source}}</small>
			<small class="text-left container">{{item.created}}, {{item.created|timesince}}</small>
			{% if item.author %}
			<p class="card-text">By {{item.author}}</p><hr>
			{% else %}
			<small class="card-text">By {{item.poster}}</small><hr>
			{% endif %}	
			<p data-label="my-label-button" class="line-numbers copy-to-clipboard-button text-left container" >{{blog.desc|safe|striptags|truncatewords:20}}</p>
			<!-- <p class="text-left container">{{ item.desc|safe }}</p><hr> -->
			<a href="{% url 'sms:blogdetaillistview' item.slug %}" class="btn btn-warning">Read More....</a><hr>

			<p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
		</div>
		{% empty %}
		<small class="card-text">No Courses Available Yet. CHECK LATER</small>
	
		{% endfor %}
	</div>


	  {% endblock %} 
 
