{% extends 'sms/dashboard/base.html' %}

{% block title %} table {% endblock %}

  {% block content %} 

   
<div class="table-responsive container text-center card-body">
  <table class="table" id="">

    {% for note in cert_note %}
  <div class="card-header bg-primary text-white">{{note|linebreaksbr}}</div>
     {% endfor %}
    <div><a href="{% url 'student:take-exam' %}">Take Exam</a></div><br>
    <thead>
      <tr>
        <th>Names</th>
        <th>email</th>
        <th>Exam Name</th>
        <th>Max Score</th>
        <!-- <th>Attempt</th> -->
        <th>Exam Status</th>
       
      </tr>
    </thead>
   
   <tbody>

    <tr>
      {% for t in results %}
      <td> {{t.student.first_name}} {{t.student.last_name}}</td>
      <td> {{t.student.user}}</td>
      <td> {{t.exam}}</td>
      <td> {{t.marks}}</td>
      <!-- <td>Attemp {{ forloop.counter }}</td> -->
    
      <td style='color:red'> {{t.student.first_name}}</td>


{% for course in courses %}

{% if course == t.exam and t.marks >= t.constant %}
<p style="color:green">Congratulations, {{t.student.first_name}} {{t.student.last_name}}, you made it!</p>
<a href="{% url 'student:pdf' course.id %}">Print Certificate {{course}}</a><br>

{% endif  %}


{% endfor %}



{% endfor %}
    </tr>
   
  </tbody>
  <hr>
</table>


</div>

<!-- End of Main Content -->

{% endblock %} 
 