{% extends 'sms/dashboard/base.html' %}

{% block title %} Course Details {% endblock %}

  {% block content %}  
<style>
  .benefits{
    width: 200px;
    height: 50px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits >*{
   flex: 1 1 auto;
   width: 10px;
   margin: -10px;
  

  }
  [aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
 .page{
  display: flex;
  flex-wrap: wrap;
 }
 .page > *{
  flex: 1 1 auto;
  margin: 5px;
 }
 .rounded{
  width: 30px;
  height: 150px;
 }

 .gallery {
    display: flex;
    overflow-x: auto;
    height: 200px;
    overflow-y: hidden;       
}
.gallery>* {
   flex: 1 1 auto;
   margin: 10px;
       
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

</style>


  <div  style="padding-left: 20px; background-color: rgb(240, 197, 197);" class="">
    <br> <br>

    <h6>{{ object.title|safe }}</h6>

  <div class="page">
    {% if object.course_logo.url %}
    <img  class="rounded" src="{{ obj.course_logo.url }}" alt=""> <br>
    {% else %}
    <img  class="rounded" src=" /static/sms/images/newlogo3.jpg" alt="{{obj.desc}}"> <br>
  {% endif %}

  {% if object.course_owner %}
  <small class="text-dark">{{object.course_owner|safe}}</small>
  {% else %}
  <small class="text-dark">Codethinkers Academy</small>
  {% endif %}
 </div>
 
    <p>{{ object.course_type|safe }} </p>
    <p>{{ object.price|safe }} </p>
    <p>{{ object.status_type|safe }} </p>
    <p>welcome: {{ request.user }} </p>
    <p>{{ object.categories.name|title|safe }} category</p>

    {% if object.student.status_type  == 'Premium' and object.status_type  == 'Premium'  or object.status_type  == 'Free'  %}
  
    
    <a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary">Enroll {{ object.title|safe }}</button> </a>
    {% else %}
    <a style="height: 10px;" class=""  href="{% url 'sms:paymentdesc' %}"><button class="btn btn-primary">Make payment to proceed</button> </a>
    {% endif %}

  </div>

<br>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> -->

<div class="container">
  <p>{{ object.desc|truncatechars:100|safe }}</p>

  <p>
    <!-- aria-expanded attribute is mandatory -->
    <!-- bootstrap changes it to true/false on toggle -->
    <a href="#block-id" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="block-id">
      <span class="collapsed">
        Show more
      </span>
      <span class="expanded">
        Show Less
      </span>
    </a>
  </p>

  <p class="collapse" id="block-id">
    {{ object.desc|safe }}
  </p>
</div>


  <br> <br><br>


  <!-- ebooks section endign -->

  <br> <br> <br>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 style="color: black; font-weight: bold;"  class="mb-4">
        Some Benefit Associated with the Courses:
      </h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
  
      </p>
    </div>
  </div>
  
  <section style="margin: 0 auto;" class=" ">
  
  
 <div  class="row text-center  align-items-stretch">

      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>

          <div class="card-body benefits">
          
            <p class="dark-grey-text">
       
              100% online
            </p>
          </div>
        </div>
      </div>
      
  
      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>

          <div class="card-body benefits">
          
            <p class="dark-grey-text">
       
              Flexible deadlines
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
      
          <div class="card-body benefits">
          
            <p class="dark-grey-text ">
       
              Collaborators
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
    
          <div class="card-body benefits">
          
            <p class="dark-grey-text ">
       
              Jobs opportunities
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
   
          <div class="card-body benefits">
          
            <p class="dark-grey-text">
       
              Certificate of completion
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm mb-0 d-flex align-items-stretch">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>

          <div class="card-body benefits">
          
            <p class="dark-grey-text">
       
              Language: English
            </p>
          </div>
        </div>
      </div>
      

    </div> 

  </section>
  

 <br> <br> <br>
<!-- SKILLS YOU WILL GAIN -->

<br><br><br>
<h3 class="text-center text-primary">SKILLS YOU WILL GAIN</h3>
<br>

<div class="flex-container">
  {% for category in skillyouwillgain %}
  <div class="card card-cat">
    <!-- <img src="{{ category.img_cat.url }}" class="card-img-top" alt="Category Image"> -->
    <div class="card-body child-ele">
      <!-- <img class="" src="/static/sms/images/newlogo3.jpg" width="100px" height="50px" alt="{{ obj.desc }}"> -->
      <div class="">
        <h5 style="font-weight: bold;" class="card-title">{{ category.title|title }}</h5>
        <!-- <p class="card-text">{{ category.num_courses }} Courses</p> -->
      </div>
    </div>
  </div>
  {% empty %}
  <h1 class="card text-center text-danger">No Record here</h1>
  {% endfor %}
</div>
<!--end SKILLS YOU WILL GAIN -->

<br> <br> <br>

<!-- FAQ-->
<div class="container ">
  <h3 id="faqs" style="text-align: center;" class="text-danger ">Frequently Asked Questions</h3>
</div>

<br>
<div class="container4 " style="width: 90%; margin: 0 auto;">
  <div class="accordion" id="faqAccordion">
    {% for faq in faqs %}
    <div class="card">

      <div class="card-header " id="faqHeading{{ faq.id }}">
        <p class="mb-0">
          <button style="font-size: 12px;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#faqCollapse{{ faq.id }}" aria-expanded="true" aria-controls="faqCollapse{{ faq.id }}">
            {{ faq.title|safe }}
            <i class="fas fa-chevron-down"></i>
          </button>
        </p>
      </div>

      <div id="faqCollapse{{ faq.id }}" class="collapse" aria-labelledby="faqHeading{{ faq.id }}" data-parent="#faqAccordion">
        <div class="card-body">
          {{ faq.desc|safe }}
        </div>
      </div>
   
    </div>
    
    {% empty %}
    <h1 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h1>
    {% endfor %}
  </div>
</div>
<br>
<!--end FAQ-->

<br> <br> <br>

<div class="container">
  <h1>Shareable Certificate</h1>
  <img style="width:100%;" src="/static/sms/images/designcertificate2.png" class="card-img"  height="auto alt="">
  <p>You can share your Certificate with friends and family, on printed resumes, CVs, or other important documents.</p>


</div>

<br>

 
<!--Review-->
<br> <br> <br>

<div style="color: black; font-size: 18px; font-weight: bold;" class="card-body">
  <h3 class="text-center">Learners' Reviews</h3>
</div>

<div class="">
  <div class="card-body">
    <div class="gallery rounded-4 text-center">
      {% for category in courseLearnerReviews %}
      <div style="border: 1px solid blue;" class="left-column-cat">
        <div class=" card-hover">
          <div class="card-body">
            <p class="text-center category">
              <img class="rounded-4 images" src=" /static/sms/images/avater2.webp" width="30px" height="30px" alt="category image">
              {% if category.title %}
              <div class="text-left container">{{ category.title }}</div>
              {% endif %}
              <div class="text-left container">{{ category.desc }}</div>
            </p>
          </div>
        </div>
      </div>
      {% empty %}
      <h1 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h1>
      {% endfor %}
    </div>
  </div>
</div>
<!-- end Review-->



  {% endblock %} 




