
{% extends 'sms/dashboard/base.html' %}


{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}
{% block title %} Courses list view page {% endblock %}


{% block content %} 
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<style>
/* .container {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.left-column-cat {
    flex: 1;
    margin: 5px;
    background-color: #4158D0;
    color: black;
    background-image: linear-gradient(#ffff 100%, #ffff 46%, white 100%);

} */

/* bootsrap carousel setting */
.carousel-indicators li {
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid;
        border-radius: 50%;
        background-color: #E0E0E0;
}
    
.carousel-indicators .active {
        background-color: #000000;
}
 
.carousel-indicators button {
    height: 0px !important;
    width: 10px !important;
    margin: 0 20px !important;
    border-radius: 100%;
    background-color: #1963ac !important;
   
} 

.carousel-inner .carousel-item {
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}


 .carousel-control-prev,
.carousel-control-next{
    align-items: flex-start;
} 

.carousel-control-prev-icon {
    position: absolute;
    bottom: 180px;
    left: 3px;
    color: #000000;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 180px;
    right: 3px;
    color: #000000;
 
} 

table.display {
margin: 0 auto;
width: 100%;
clear: both;
border-collapse: collapse;
table-layout: fixed; // ***********add this
}
/* end bootsrap carousel setting */

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



</style>


  <!--Products-->


<table  id="example" class="datatable-wide display"  style="width:100%;">
    
    <thead class="">
        <tr>
            <th >

                <h6 style="flex-wrap: wrap;" class="d-flex">
                   
					<h3>Find  top  {{courses_count}} courses that fits your life</h3><hr>
					<!-- <p class="bg-white" style="padding-left: 2px; padding-right: 2px;">Explore job opportunities available to you upon program completion and learn about your areas of interest.</p> -->
				  </div>
                    <a class="" href="{% url 'sms:feedbackformview' %}">
                        <i class="fas fa-bell fa-fw"></i>
                    <span>Feedback</span></a>
                       
             
                </h6>
            </th>
         
        </tr>
    </thead>
    <tbody >
        {% for obj in courses  %}
        <tr   >
            <td class="d-flex">
			
				<div  class="card h-100" style="width: 18rem ;margin: 0 auto;" >
					<a  href="{% url 'sms:topicslistview' obj.pk %}">
				<img src="{{ obj.img_course.url }}" class="card-img-top" alt="...">
			</a>
					<div class="card-body">
						
				
						 
							<div class="d-flex rounded owner">
							  <div class="d-flex rounded owner">
								{% if obj.course_logo.url %}
								<img  class="rounded" src="{{ obj.course_logo.url }}" width="30px"  height="33px" alt=""> <br>
								{% else %}
								<img  class="rounded" src=" /static/sms/images/newlogo3.jpg" width="30px"  height="33px" alt="{{obj.desc}}"> <br>
							  {% endif %}
					  
							  {% if obj.course_owner %}
							  <small class="">{{obj.course_owner|safe}}</small>
							  {% else %}
							  <small>Codethinkers Academy</small>
							  {% endif %}
							 
							  </div>
							</div>
							<a style="font-size: 12px;"  href="{% url 'sms:topicslistview' obj.pk %}">{{obj}} </a>
						   
							<p style="color: green; font-size: 12px;" class="">{{obj.status_type|safe}}</p>
							<small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{obj.categories.name|safe}}</small> <br>
							<small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{obj.course_type|safe}}</small>
							
							 <br>
							</div>
					</div>
				  </div>
		
				
            </td>
            
        </tr>
        {% empty %}
        <h3 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h3>
        {% endfor %}


	
    </tbody>
 
</table>


<script>
    $(document).ready(function () {
$('#example').DataTable({
    pagingType: 'simple_numbers',
    // dom: 'Qfrtip',
    "ordering": false,
    "bPaginate":true,
    // scrollY:'400px',
    scrollY:'100%',
    scrollCollapse:true,
    "pageLength": 3,
    "dom": '<"top"fl<"clear">>rt<"bottom"ip<"clear">>'
    
});
});

  
</script>
 
{% endblock %} 
