{% extends 'sms/dashboard/base.html' %}
{% load hitcount_tags %}
{% block title %} Course Details {% endblock %}

  {% block content %}  
<style>
  .benefits{
    width: 200px;
    height: 50px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits >*{
   flex: 1 1 auto;
   width: 10px;
   margin: -10px;
  

  }
  [aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
 .page{
  display: flex;
  flex-wrap: wrap;
 }
 .page > *{
  flex: 1 1 auto;
  margin: 5px;
 }
 .rounded{
  width: 30px;
  height: 150px;
 }

 .gallery {
    display: flex;
    overflow-x: auto;
    height: 400px;
    overflow-y: hidden;       
}
.gallery>* {
   flex: 1 1 auto;
   margin: 10px;
       
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.rounded{
  width: 50px;
  height: 53px;
}

.course-owner{
  display: flex;
  flex-wrap: wrap;
}
.course-owner >*{

  margin: 5px;
}
.sta{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sta >*{
  flex: 1 1 auto;
  margin: 10px;

}
.name{
  padding: 20px;
}

  /* ebooks */
  .child-review{
  display: flex;
  margin-top: -25px;
}

.child-review >*{
  margin: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-review{
  width: 300px;
}
.card-review:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.flex-container >*{
  margin: 10px;
}

 /* end of ebooks */

  /* fixed-bottom */
 .fixed-bottom {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 20px;
    }

    @media (min-width: 768px) {
      .fixed-bottom {
        display: none;
      }
    }

  /* end fixed-bottom */
</style>


  <div  style="padding-left: 20px; background-color: rgb(240, 238, 235)" class="">
    <br> <br>
    <div class="course-owner d-flex ">
      {% if object.course_logo.url %}
      <img  class="rounded" src="{{ object.course_logo.url }}"  alt=""> 
      <p>{{object.course_owner|safe}}</p>
      {% else %}
      <img  class="rounded" src=" /static/sms/images/newlogo3.jpg"  alt="">
      <p style="" class="text-dark ">Codethinkers Academy</p>
    {% endif %}
    </div>
    
    <br>
  <h6>{{ object.title|safe }}</h6>

  {% if object.price %}
  <p style="color: black; font-size: 18px; font-weight: bold;" class="">{{object.status_type|safe}} |  #{{object.price|safe|floatformat:"0g"}}</p> 
  {% else %}
  <p style="color: black; font-size: 18px; font-weight: bold;" class="">{{object.status_type|safe}}</p> 
  {% endif %}
  <small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{object.categories.name|safe|title}} level</small> <br>
  <small data-label="my-label-button" class="line-numbers copy-to-clipboard-button " >{{object.course_type|safe}}</small>
 
    <br> <br>
    <p class=" pr-3">{{ object.desc|truncatechars:350|safe }}</p>

  {% if object.student.status_type  == 'Premium' and object.status_type  == 'Premium'  or object.status_type  == 'Free'  %}
  
    <a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary">Enroll {{ object.title|safe }}</button> </a> <br>
    {% else %}
    <br>
    <a style="height: 10px;" class=""  href="{% url 'sms:paymentdesc' %}"><button class="btn btn-primary">Make payment to proceed</button> </a> <br>
    {% endif %}

  </div>

<br>

<div class="pl-3 pr-3">

  <h3>About this Course</h3>
  <p class="pl-3">{% get_hit_count for object %} <i class="fas fa-eye"></i> recent views</p>
  <p class="collapse" id="block-id">
    {{ object.desc|safe }}
  </p>
  <p>
    <!-- aria-expanded attribute is mandatory -->
    <!-- bootstrap changes it to true/false on toggle -->
   
    <a href="#block-id" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="block-id">
      <span class="collapsed">
        Show more
      </span>
      <span class="expanded">
        Show Less
      </span>
    </a>
  </p>

 
</div>



  <!-- ebooks section endign -->

  <br> <br> <br>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
     
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
  
      </p>
    </div>
  </div>
  

  <div  class=" sta">

    <div class="card mb-4 py-3  border-bottom-primary pl-3">
      <h6 style="color: black;" class="mb-4">
        Some Benefit Associated with the Courses:
      </h6>
        <div class="card-body">
          <ul>
            <li> 100% online </li>
            <li>   Flexible deadlines</li>
            <li> Collaborators</li>
            <li> Jobs opportunities</li>
            <li> Certificate of completion</li>
            <li>  Language: English</li>
          </ul>
         
  
        </div>
    </div>

    <div class="card mb-4 py-3  border-bottom-primary pl-3">
      <h6 style="color: black; " class="mb-4">
       Offered by
      </h>
      <div class="card-body">
        <div class="course-owner">
          {% if object.course_logo.url %}
          <img  class="" src="{{ object.course_logo.url }}" width="100px" height="100px" alt=""> 
          <p class="name">{{object.course_owner|safe}}</p>
          {% else %}
          <img  class="" src=" /static/sms/images/newlogo3.jpg" width="100px" height="100px"  alt="">
          <p style="name" class="text-dark ">Codethinkers Academy</p>
        {% endif %}
        </div>
        
      </div>
  </div>


</div>


<div  class=" bg-dark sta">

  <div class="card mb-4 py-3  border-bottom-primary pl-3">
    <h6 style="color: black;" class="mb-4">
      WHAT YOU WILL LEARN
    </h6>
      <div class="card-body">
        {% for obj in whatyouwilllearn %}

        <p data-label="my-label-button" class="line-numbers copy-to-clipboard-button body-text text-left">{{obj.desc|safe}}</p>
        {% empty %}
        <h1 class="card text-center text-danger">No Record here</h1>
      {% endfor %}

      </div>
  </div>

  <div class="card mb-4 py-3  border-bottom-primary pl-3">
    <h6 style="color: black; " class="mb-4">
      SKILLS YOU WILL GAIN
    </h>
    <div class="card-body">
      <div class="course-owner">
        {% for category in skillyouwillgain %}
        <div class="card card-cat">
         
          <div class="card-body child-ele">
          
            <div class="">
              <h5 style="" class="card-title">{{ category.title|title }}</h5>
           
            </div>
          </div>
        </div>
        {% empty %}
        <h1 class="card text-center text-danger">No Record here</h1>
        {% endfor %}
      </div>
      
    </div>
</div>


</div>


<!-- Enrolled {{ num_students}}
<div class="flex-container">
  {% for profile in students %}
  <div class="card card-cat">

    <div class="card-body child-ele">
      
      <div class="">
        {{ profile }}
       
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->
<!--end Categories and Courses -->



<br> <br> <br>

<!-- FAQ -->
<div class="container">
  <h3 id="faqs" style="text-align: center;" class="text-danger">Frequently Asked Questions</h3>
</div>

<br>

<div class="container4" style="width: 90%; margin: 0 auto;">
  <div class="accordion" id="faqAccordion">
    {% for faq in faqs %}
    <div class="card">

      <div class="card-header" id="faqHeading{{ faq.id }}">
        <p class="mb-0">
          <button style="font-size: 12px;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#faqCollapse{{ faq.id }}" aria-expanded="true" aria-controls="faqCollapse{{ faq.id }}">
            {{ faq.title|safe }}
            <i class="fas fa-chevron-down"></i>
          </button>
        </p>
      </div>

      <div id="faqCollapse{{ faq.id }}" class="collapse" aria-labelledby="faqHeading{{ faq.id }}" data-parent="#faqAccordion">
        <div class="card-body">
          {{ faq.desc|safe }}
        </div>
      </div>

    </div>
    {% empty %}
    <h1 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h1>
    {% endfor %}
  </div>
</div>

<br>
<!-- end FAQ -->



<br> <br> <br>

<!-- FAQ -->
<div class="container">
  <h3 id="faqs" style="text-align: center;" class="text-danger">Career Opportunities</h3>
</div>

<br>

<div class="container4" style="width: 90%; margin: 0 auto;">
  <div class="accordion" id="faqAccordion">
    {% for obj in careeropportunities %}
    <div class="card">

      <div class="card-header" id="faqHeading{{ faq.id }}">
        <p class="mb-0 ">
          <button style="font-size: 12px;" class="btn btn-link " type="button" data-toggle="collapse" data-target="#faqCollapse{{ faq.id }}" aria-expanded="true" aria-controls="faqCollapse{{ faq.id }}">
          {{ obj.courses|safe }}
            <i class="fas fa-chevron-down"></i>
          </button>
        </p>
      </div>

      <div id="faqCollapse{{ faq.id }}" class="collapse" aria-labelledby="faqHeading{{ faq.id }}" data-parent="#faqAccordion">
        <div data-label="my-label-button" class="line-numbers copy-to-clipboard-button " class="card-body">
          {{ obj.desc|safe }}
        </div>
      </div>

    </div>
    {% empty %}
    <h1 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h1>
    {% endfor %}
  </div>
</div>

<br>
<!-- end FAQ -->

<br> <br> <br>

<div class="container">
  <h1>Shareable Certificate</h1>
  <p>Share your certificate with prospecti  ve employers and your professional network on LikedIn and other relevent platforms</p>
  <img style="width:100%;" src="/static/sms/images/designcertificate2.png" class="card-img"  height="auto alt="">
  <p>You can share your Certificate with friends and family, on printed resumes, CVs, or other important documents.</p>

</div>

<br>
<div class="text-center" style="margin: 0 auto;">
  <h3 class="text-center text-danger">Start Learning Today</h3> <br>
  {% if object.student.status_type  == 'Premium' and object.status_type  == 'Premium'  or object.status_type  == 'Free'  %}
    
  <a href="{% url 'sms:topicslistview' object.id %}"> <button class="btn btn-primary">Enroll {{ object.title|safe }}</button> </a>
  {% else %}
  <a style="height: 10px;" class=""  href="{% url 'sms:paymentdesc' %}"><button class="btn btn-primary">Make payment to proceed</button> </a>
  {% endif %}
</div>

<br>
 
<!--Review-->
<br> <br> <br>

<div style="color: black; font-size: 18px; font-weight: bold;" class="card-body">
  <h3 class="text-center">Learners' Reviews</h3>
</div>

<!-- <div class="text-center">
  <div class="card-body">
    <div class="gallery rounded-4 text-center">
      {% for category in courseLearnerReviews %}
      <div style="border: 1px solid blue;" class="left-column-cat">
        <div class=" card-hover">
          <div class="card-body">
            <p class="text-center category">
              <img class="rounded-4 images" src=" /static/sms/images/avater2.webp" width="30px" height="30px" alt="category image">
              {% if category.title %}
              <div data-label="my-label-button" class="line-numbers copy-to-clipboard-button" class="text-center">{{ category.title }}</div> <br>
              {% endif %}
              <div  class="text-center "> <p data-label="my-label-button" class="line-numbers copy-to-clipboard-button"> {{ category.desc }}</p></div>
            </p>
          </div>
        </div>
      </div>
      {% empty %}
      <h1 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h1>
      {% endfor %}
    </div>
  </div>
</div> -->
<!-- end Review-->

<div class="flex-container">
  {% for obj in courseLearnerReviews %}
  <div class="card card-review">
    <!-- <img src="{{ category.img_cat.url }}" class="card-img-top" alt="Category Image"> -->
    <div class="card-body child-ebooks">
      <!-- <img class="" src="{{ alert.img_ebook.url }}" width="100px" height="130px" alt="{{ obj.desc }}"> -->
      <div class="text-center">
        <img src=" /static/sms/images/blankavater.png" width="100px" class="rounded-circle img-fluid" /> <hr>
       <h3>{{ obj.title }}</h3>

      </div>
      <p class=""> {{ obj.desc }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- <a href="#" class="btn btn-primary fixed-bottom">Click Me</a> -->


{% if object.student.status_type  == 'Premium' and object.status_type  == 'Premium'  or object.status_type  == 'Free'  %}
  
<a class="btn btn-secondary fixed-bottom" href="{% url 'sms:topicslistview' object.id %}">Enroll {{ object.title|safe }}</a>
{% else %}
<a class="btn btn-secondary fixed-bottom" style="height: 10px;" class=""  href="{% url 'sms:paymentdesc' %}">Make payment to proceed </a>
{% endif %}

  {% endblock %} 




