{% extends 'sms/dashboard/base.html' %}

{% block title %} sample {% endblock %}

  {% block content %}  
  
  <!-- Begin Page Content -->
  <div class="container-fluid">
  
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">sample</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" data-page-length='1' id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Names</th>
                                            <!-- <th>users</th> -->
                                            <th>desc</th>
                                            
                                      
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Names</th>
                                      
                                            <th>Course</th>
                                            
                                            <th>Total Marks</th>
                                            <th>position</th>
                                            <th>Exam Date</th>
                                        
                                        </tr>
                                    </tfoot> -->

                                    <tbody>
                                        {% for t in object_list %}
                                        <tr>
                                            <td>
                                                <input type="radio" id="html" name="fav_language" value="HTML">
                                                <label for="html"> {{t.name}} </label>
                                            </td>
                                           <td>
                                            <input type="radio" id="html" name="fav_language" value="HTML">
                                            <label for="html"> {{t.desc}} </label>
                                        </td>
                                      
                                       
                                          
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

 
</div>

  {% endblock %} 
 
