{% extends 'sms/dashboard/base.html' %}

{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}

{% block title %} Course Overall Scores Detail View {% endblock %}

  {% block content %}  
  
  <style>
    .dataTables_filter, .dataTables_info { display: none; }
    .dataTables_length {
        display: none;
    }

    table{
        /* border-collapse: separate; */
        line-height: 25px;
    }

    tr{
        display: block;
        float: left;
        float: left;
        width: 290px;
    }
    th, td{
        display: block;
    }
</style>


  <!-- Begin Page Content -->
  <div class="container-fluid">
  
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                <h3 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                                <p class="text-center">{{c}} Modules <br>
                                    {{ hitcount.total_hits }}  <i class="fas fa-eye"></i></p>        
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table style="width: 100%;" class="variant-table " data-page-length='1' id="dataTable" width="100%" cellspacing="0">
                                     <thead style="display: none;">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                             
                                    <tbody >
                                        {% for topic in topics %}
                                        <tr >
                                            
                                      <td>
                                        {{topic.title|safe}}
                                     </td>
                                     <td>
                                        <div>created: {{topic.created|timesince}} <br> last updated: {{topic.updated}} </div>
                                      
                                     </td>
                                     <td>
                                        {% if topic.img_topic %}
                                        <img  class="img-box" src="{{topic.img_topic.url}}"  alt="topics image">
                                        {% endif %}
                                     </td>
                                    <td>
                                        {% if topic.video %}
                                        <div   class="videoWrapper ratio ratio-16x9">
                                          <iframe  src={% video topic.video|safe %}{% video topic.video|safe %}</iframe>
                                        </div>
                                        {% endif %}
                                    </td>  
                                    <td>
                                        {% if topic.desc %}
                                        <div><p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;">{{topic.desc|safe}}</p></div>
                                        {% else %}
                                        <div><p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;">{{topic.coursedesc|safe}}</p></div>
                                        {% endif %}<br>  
                                    </td>
                                    <td>
                                        {% if topics.number == c %}
                                        <h4 style="color: green;text-align:center">Congratulations! You have completed this course</h4>
                                        <!-- <h3>After completion of the Topics, take Exam</h3> -->
                                      <br><hr>
                                        <div class = "exam-cert" >
                                          <h3 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                                          <!-- <h3 class="card text-center text-danger"><a href="{% url 'student:view_result' %}">View Certificate (s)</a></h3> -->
                                        </div>
                                        
                                         {% endif %}    
                                    </td>
                                    <td>
                                   <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p>
                                    </td>

                                        </tr>
                                        {% endfor %}
                                 
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

 
</div>


  
  {% endblock %} 
 
