{% extends 'sms/dashboard/base.html' %}

{% load hitcount_tags %}
{% load cloudinary %}
{% load embed_video_tags %}

{% block title %} Course Overall Scores Detail View {% endblock %}

  {% block content %} 
  

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <style>

    .dataTables_filter { 
        display: none; 
        float: left;
    }
    .dataTables_length {
        display: none;
        float: left;
    } 



img, .videoWrapper{
width: 100%;
}

.d-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex >*{
    flex: 1 1 auto;
    margin: 0px;
} 

table.display {
margin: 0 auto;
width: 100%;
clear: both;
border-collapse: collapse;
table-layout: fixed; // ***********add this
}


/* video controller css  */

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.video-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.video-wrapper iframe {
  width: 350px;
  height: 300px;
}
@media (min-width: 768px) { /* Adjust the breakpoint as per your needs */
  .video-wrapper iframe {
    width: 800px;
    height: 450px;
  }
}

/*  end video controller css  */
</style>

 

<!--   
                    <div class="">
                        <div style="width: 100%;"  class="text-center">
                            <h6 class="m-0 font-weight-bold text-primary">
                                <h3 class="text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                                <p class="">{{c}} Modules <br>
                                    {{ hitcount.total_hits }}  <i class="fas fa-eye"></i></p>        
                            </h6>
                        </div>
                       
                        <div >
                            <div   class="table-responsive dataTables_scrollBody"> 
                                <table style="width: 100%;" class="" data-page-length='1' id="dataTable" width="100%" cellspacing="0">
                                     <thead style="display: none;">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                             
                                    <tbody class="">
                                        {% for topic in topics %}
                                        <tr >
                                            
                                      <td>
                                      <h1>{{topic.title|safe}}</h1>  
                                     </td>

                                     <td>
                                        <div>created: {{topic.created|timesince}} <br> last updated: {{topic.updated}} </div>
                                      
                                     </td>
                                     <td>
                                        {% if topic.img_topic %}
                                        <img  class="img-box" src="{{topic.img_topic.url}}"  alt="topics image">
                                        {% endif %}
                                     </td>
                                    <td>
                                        {% if topic.video %}
                                        <div   class="videoWrapper ratio ratio-16x9">
                                          <iframe  src={% video topic.video|safe %}{% video topic.video|safe %}</iframe>
                                        </div>
                                        {% endif %}
                                    </td>  
                                    <td>
                                        {% if topic.desc %}
                                        <div><p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;">{{topic.desc|safe}}</p></div>
                                        {% else %}
                                        <div><p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;">{{topic.coursedesc|safe}}</p></div>
                                        {% endif %}<br>  
                                    </td>
                                    <td>
                                        {% if topics.number == c %}
                                        <h4 style="color: green;">Congratulations! You have completed this course</h4>
                                       
                                      <br><hr>
                                        <div class = "exam-cert" >
                                          <h3 class=" text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                                        
                                        </div>
                                        
                                         {% endif %}    
                                    </td>
                                    <td>
                                   <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p>
                                    </td>

                                        </tr>
                                        {% endfor %}
                                 
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div> 

</div>  -->
               <!-- alert -->

  <br>                   
 <button class="btn "><a href="https://wa.me/23409031568177"> Contact Us For Personal Tutoring </a>  </button>  <br>
<table  id="example" class="datatable-wide display "  style="width:100%;">
    
    <thead class="">
        <tr>
            <th >

                <h6 style="flex-wrap: wrap;" class="d-flex">
                   
                    <a href="{% url 'student:take-exam' %}">Take Exam</a>
                    <p class="">{{c}} Modules </p> 
                    <p>{{ hitcount.total_hits }}  <i class="fas fa-eye"></i></p>
                    <a class="" href="{% url 'sms:feedbackformview' %}">
                      
                        <i class="fas fa-bell fa-fw"></i>

                        <span>Feedback</span></a>
                       
             
                </h6>
            </th>
         
        </tr>
    </thead>
    <tbody >
        {% for topic in topics %}
        <tr>
            <td >
          
                <div style="margin-right: 0px; margin-left: 0px;"  class=" bg-white">
            

                    {% if topic.img_topic %}
                    <img class="img-box" src="{{topic.img_topic.url}}"  alt="topics image">
                    {% else %}

                    {% endif %}
                
                  {% if topic.video %}
                  <div class="video-container">
                    <div class="video-wrapper">
                      {% video topic.video|safe class="ratio ratio-16x9 " %}
                    </div>
                  </div>
                  {% else %}
                  
                {% endif %}
                
               
                     <!-- ggggg 
                     <iframe
                           width="640" height="360"
                           src="{{ topic.video|safe }}"
                           frameborder="0"
                       ></iframe>
                   
                     ffffff -->
                    
                      <!-- {% if topic.video %}
                   
                       {% video topic.video|safe class="ratio ratio-16x9" %}
                    </div>
                    {% else %}

                    {% endif %} -->

                    <div style="padding-left: 2px;" class="card-body">
                    <h1>{{topic.title|safe}}</h1> 
                    <small>
                        created: {{topic.created|timesince}} <br> last updated: {{topic.updated}}
                    </small> <br>

                    {% if topic.desc %}
              
                    <p  data-label="my-label-button" class=" line-numbers copy-to-clipboard-button" style="font-size: 20px; font-weight: bold;">  {{topic.desc|safe}} </p> <br>
                    <p>Join Community: {{topic.topics_url|urlizetrunc:15}}</p><br>
                    {% else %}
                    <p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;">{{topic.coursedesc|safe}}</p>
               
                    {% endif %}
                     </div>
                    {% if forloop.last %}
                    <h4 style="color: green;text-align:center">Congratulations! You have completed this course</h4> <br>
                    <h3 class="card text-center text-danger"><a href="{% url 'student:take-exam' %}">Take Exam</a></h3>
                    {% else %}
                    <p data-label="my-label-button" class="line-numbers copy-to-clipboard-button" style="font-size: 20px;"></p>
               
                    {% endif %}
        
                </div>
            </td>
            
        </tr>
        {% empty %}
        <h3 class="card text-center text-danger">No Courses Categories Yet. CHECK LATER</h3>
        {% endfor %}
    </tbody>
 
</table>


<script>
    $(document).ready(function () {
$('#example').DataTable({
    pagingType: 'simple',
    dom: 'Qfrtip',
    "ordering": false,
    "bPaginate":true,
    // scrollY:'400px',
    scrollY:'100%',
    scrollCollapse:true,
    "pageLength": 1,
    "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
    
});
});



</script>


<!-- iframe videos -->

<script>
    "use strict";
    if (document.readyState !== 'loading') init();
    else document.addEventListener('DOMContentLoaded', init);
    
    function init() {
        if (window.runOnce) return;
    
        if (typeof YT === 'undefined') {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        }
    
        var iframes = [];
        
        for (var iframe of document.querySelectorAll("iframe[src]")) {
            var src = iframe.getAttribute("src");
            if (src.includes("youtube.com/embed/")) {
                if(!src.includes("enablejsapi=1"))
                    if(src.includes("?"))
                        iframe.setAttribute("src", src + "&enablejsapi=1");
                    else
                        iframe.setAttribute("src", src + "?enablejsapi=1");
    
                iframes.push(iframe);
            }
        }
    
        var overlayStyles = {
            display: "none",
            content:"",
            position: "absolute",
            left: 0,
            right: 0,
            cursor: "pointer",
            backgroundColor: "black",
            backgroundRepeat: "no-repeat",
            backgroundPosition: "center",
        };
    
        window.onYouTubeIframeAPIReady = function() {
            iframes.forEach(function(iframe) {
                var overlay = document.createElement('div');
                for (var style in overlayStyles) {
                    overlay.style[style] = overlayStyles[style];
                }
                
               // ...

                var wrapper = document.createElement('div');
                wrapper.style.display = "inline-block";
                wrapper.style.position = "relative";
                wrapper.style.marginLeft = "5px";
                wrapper.style.marginRight = "5px";

                // ...

               
              
    
                iframe.parentNode.insertBefore(wrapper, iframe);
                
                wrapper.appendChild(overlay);
                wrapper.appendChild(iframe);
                
                var onPlayerStateChange = function(event) {
                    if (event.data == YT.PlayerState.ENDED) {
                        overlay.style.backgroundImage = "url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)";
                        overlay.style.backgroundSize = "64px 64px";
                        overlay.style.top = 0;
                        overlay.style.bottom = 0;
                        // overlay.style.right = 10;
                        // overlay.style.left = 10;
                        overlay.style.display = "inline-block";
                    } else if (event.data == YT.PlayerState.PAUSED) {
                        overlay.style.backgroundImage = "url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+)";
                        overlay.style.backgroundSize = "40px 40px";
                        overlay.style.top = "40px";
                        overlay.style.bottom = "50px";
                        overlay.style.display = "inline-block";
                    } else if (event.data == YT.PlayerState.PLAYING) {
                        overlay.style.display = "none";
                    }
                };
                
                var player  = new YT.Player(iframe, {
                        events: {
                            'onStateChange': onPlayerStateChange
                        }
                    });
            
                wrapper.addEventListener("click", function() {
                    var playerState = player.getPlayerState();
                    if (playerState == YT.PlayerState.ENDED) {
                        player.seekTo(0);
                    } else if (playerState == YT.PlayerState.PAUSED) {
                        player.playVideo();
                    }
                });
            });
        };
        window.runOnce = true;
    }
    
    </script>
    
<!-- 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>  -->

    
  {% endblock %} 
 
