<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Payment</title>
</head>
<body>

    <h5>make payment: NGN {{payment.amount}}</h5>
 
        <button type="submit" onclick="payWithPaystack()" id="django-paystack-button"> make Payment </button>
        <script src="https://js.paystack.co/v1/inline.js"></script>
 
    
<script>
    function payWithPaystack(){
        let currency = "NGN";
        let plan = "";
        let ref = "{{payment.ref}}";

        let obj = {
            key: "{{paystack_public_key}}",
            email: "{{payment.email}}",
            ref : ref,
            amount: "{{payment.amount_value}}",

            callback: function(response){
                window.location.href = "{% url 'student:verify-payment' payment.ref %}"
            }
        }
        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        } 
        if (Boolean (plan)){
            obj.plan = plan;
        }
        let handler = PaystackPop.setup(obj);
        handler.openIframe(); 
    }
</script>
</body>
</html>