<!DOCTYPE html>
<html>
<head>
    <title>Certificate Verification</title>
</head>
<body>

    
    <h1>Certificate Verification</h1>
    {% if certificate %}
        <p>Certificate Code: {{ certificate.code }}</p>
        <p>Holder: {{ certificate.holder }}</p>
        <p>Issued Date: {{ certificate.issued_date }}</p>
        <!-- Add any additional verification details you want to display -->
        <p>Congratulations!  <a href="{% url 'student:verify_cert' %}">here</a></p>
        <p>Congratulations! You have received a certificate of completion. To verify the authenticity of your certificate, click <a href="{% url 'student:verify_certificate' certificate.code %}">here</a></p>

    {% else %}
        <p>The provided certificate code is not valid.</p>
    {% endif %}
</body>
</html>
