{% extends 'base.html' %}
{% block content %}
<h2 class='text-2xl font-bold'>Enrollment Details</h2>
<p>Student: {{ object.student }}</p>
<p>Course: {{ object.course }}</p>
<a href='{% url 'student_record_system_app:enrollment_update' object.pk %}' class='bg-yellow-500 text-white p-2'>Edit</a>
<a href='{% url 'student_record_system_app:enrollment_delete' object.pk %}' class='bg-red-500 text-white p-2'>Delete</a>
<a href='{% url 'student_record_system_app:enrollment_list' %}' class='bg-gray-500 text-white p-2'>Back to List</a>
{% endblock %}