<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf list</title>
</head>
<body>
    <ul>
        {% for document in documents %}
          <li>
            <h4>{{ document.title }}</h4>
            <small>Price: &#8358;{{ document.price }}</small>
            <p>{{ document.desc }}</p>
            <a href="{% url 'student:pdf_document_detail' document.id %}">{{ document.title }}</a>
          </li>
        {% endfor %}
      </ul>
      
</body>
</html>