<!-- evaluations/question_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Question List</title>
</head>
<body>
    <h1>Multiple-Choice Questions</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for question in questions %}
                <li>
                    <p>{{ question.text }}</p>
                    <ul>
                        {% for choice in question.choice_set.all %}
                            <li>
                                <input type="radio" name="question_{{ question.id }}_choice" value="{{ choice.id }}">
                                {{ choice.text }}
                            </li>
                        {% endfor %}
                    </ul>
                    Correct answer: 
                    {% for choice in question.choice_set.all %}
                        {% if choice.is_correct %}{{ choice.text }}{% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
